
<%= render 'devise/shared/centered_form', page_title: "Edit Details", bg_img: 'https://res.cloudinary.com/dyocdwgu9/image/upload/v1543550218/gestuno/bck1.jpg' do %>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <%= f.error_notification %>

    <%= render 'devise/shared/input_group', icon: 'email' do %>
      <p>Update your email here:</p>
      <%= f.input :email, required: true, autofocus: true %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
    <% end %>

    <%= render 'devise/shared/input_group', icon: 'lock_outline' do %>
      <%= f.input :current_password,
      hint: "We need your current password to confirm your changes",
      required: true,
      input_html: { autocomplete: "current-password" } %>
    <% end %>

    <%= render 'devise/shared/input_group', icon: 'lock_outline' do %>
      <%= f.input :password_confirmation,
        required: false,
        input_html: { autocomplete: "new-password" } %>
    <% end %>

    <div class="footer text-center">
      <div>
        <%= f.button :submit, "Update", class: "btn btn-warning btn" %>
      </div>
      <div>
        <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-blue" %>
      </div>
      <%#= link_to "Go Back", profile_path, class: "btn-blue" %>
    </div>

  <% end %>

<% end %>


<%#= render 'devise/shared/input_group', icon: 'face' do %>
  <%#= f.input :name, required: true, autofocus: true,input_html: { autocomplete: "name" } %>
<%# end %>


                  <%#=  %>
<!--                 </div>
              </div> -->


