<div class="signup-page">

  <%= render 'shared/page_banner', bg_img: 'https://res.cloudinary.com/dyocdwgu9/image/upload/v1543550218/gestuno/bck1.jpg', height: '100vh', parallax: false, style: 'background-size: cover; background-position: top center;' do %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 ml-auto mr-auto">
          <div class="card card-login">
            <div class="form">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Edit Details</h4>
              </div>
              <div class="card-body">
              	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.error_notification %>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <p>Update your email here:</p>
                    <%= f.input :email, required: true, autofocus: true %>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                    <% end %>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock-outline</i>
                    </span>
                  </div>
                  <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
                </div>
				        <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock-outline</i>
                    </span>
                  </div>
                  <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
                </div>
				        <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock-outline</i>
                    </span>
                  </div>
                  <%= f.input :current_password,
                    hint: "We need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
                </div>
              </div>
              <div class="footer text-center">
              <%# <p class="description text-center"><%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %></p>
              <%= f.button :submit, "Update", class: "btn btn-warning btn-round" %>
              <% end %>
              <div class="description text-center">
              <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-blue" %>
              <%#= link_to "Go Back", profile_path, class: "btn-blue" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
