<%# CURRENTLY SET TO DASHBOARD EDIT PAGE CODE %>
<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://res.cloudinary.com/dyocdwgu9/image/upload/v1543549512/gestuno/bkg2.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar gu-avatar-container">

                <%= render 'shared/avatar', user: @user, scale: :large, classes: "img-raised img-fluid gu-raised-avatar" %>
                  <!-- margin: -110px 0 20px 0; -->
                <%= form_tag(controller: :calls, action: :create, method: :post, recipient: @user) do %>
                  <%= button_tag type: 'submit', class: 'call-button-start', title: 'Start call' do %>
                    <i class="fas fa-phone"></i>
                  <% end %>
                <% end -%>
              </div>
              <div class="name">
                <h3><%= @user.name %></h3>
                <h6><%= @user.role.capitalize %></h6>
                <a href="#" class="btn btn-just-icon btn-link btn-dribbble"><i class="fab fa-dribbble"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-pinterest"><i class="fab fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p><%= @user.bio %></p>
          <!-- <p>An artist of considerable range, Chet Faker &#x2014; the name taken by Melbourne-raised, Brooklyn-based Nick Murphy &#x2014; writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p> -->
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                    <p>Languages</p>
                    <p><%= @user.language %></p>
                </li>
                <% if @user.interpreter? %>
                  <li class="nav-item">
                    <p>Certifications</p>
                     <p><%= @user.certifications %></p>
                    </a>
                  </li>
                <% end %>
                <li class="nav-item">
                  <p>Gender</p>
                   <p><%= @user.gender %></p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <%# Adding in profile tabs %>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#payment" role="tab" data-toggle="tab">
                    <i class="material-icons">camera</i> Payment
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#profile " role="tab" data-toggle="tab">
                    <i class="material-icons">palette</i> Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#history" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> History
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane active text-center" id="payment">
            <div class="row">
              <div class="col-md-10 ml-auto">
                <%= render 'shared/payment' %>
              </div>
            </div>
          </div>
          <div class="tab-pane text-center" id="profile">
            <div class="row">
              <div class="col-md-10 ml-auto">
                <%= render 'shared/edit_profile' %>
              </div>
            </div>
          </div>
          <div class="tab-pane text-center" id="history">
            <div class="row">
              <div class="col-md-10 ml-auto">
                <%= render 'shared/history' %>
              </div>
            </div>
          </div>
        </div>
        <%# ending in profile tabs %>


      </div>
    </div>
  </div>
</div>

