
<%= render 'devise/shared/centered_form', page_title: "#{@user_type.capitalize} Sign Up", bg_img: 'https://res.cloudinary.com/dyocdwgu9/image/upload/v1543550218/gestuno/bck.jpg' do %>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= f.error_notification %>

    <%= render 'devise/shared/input_group', icon: 'face' do %>
      <%= f.input :name, required: true, autofocus: true, input_html: { autocomplete: "name" } %>
    <% end %>

    <%= render 'devise/shared/input_group', icon: 'email' do %>
      <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
    <% end %>

    <%= render 'devise/shared/input_group', icon: 'lock_outline' do %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
    <% end %>

    <%= render 'devise/shared/input_group', icon: 'lock_outline' do %>
      <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
    <% end %>

    <%= f.input :interpreter, as: :hidden, input_html: { value: @user_type == 'interpreter' } %>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="" checked>
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
        I agree to the <a href="#">terms and conditions</a>.
       </label>
    </div>

    <div class="footer text-center">
      <%= f.button :submit, "Sign up", class: "btn btn-warning" %>
      <p class="description text-center"><%= render "devise/shared/links" %></p>
    </div>

  <% end %>

<% end %>
