 <div class="signup-page">
  <div class="page-header header-filter" filter-color="purple" style="background-image: url('https://res.cloudinary.com/dyocdwgu9/image/upload/v1543550218/gestuno/bck.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
			<div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
					<div class="card card-signup">
            <div class="form">
              <div class="card-header card-header-primary text-center">
						  <h2 class="card-title text-center"><%= @user_type.capitalize %> Sign Up</h2>
              </div>
						<div class="card-body">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">face</i>
									</span>
									<%= f.input :name, required: true, autofocus: true,input_html: { autocomplete: "name" }%>
								</div>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">email</i>
									</span>
									<%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }%>
								</div>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">lock_outline</i>
									</span>
										<%= f.input :password,required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
								</div>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">lock_outline</i>
									</span>
									<%= f.input :password_confirmation,required: true,input_html: { autocomplete: "new-password" } %>
                  <%= f.input :interpreter, as: :hidden, input_html: { value: @user_type == 'interpreter' } %>
								</div>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" value="" checked>
											<span class="form-check-sign">
											<span class="check"></span>
											</span>
									I agree to the <a href="#something">terms and conditions</a>.
									</label>
								</div>
								<div class="text-center">
                  <%= f.button :submit, "Sign up", class: "btn btn-primary btn-link btn-wd btn-lg" %>
								</div>
								<div class="text-center">
                  <p class="description text-center"><%= render "devise/shared/links" %></p>
								</div>
							<% end %>
						</div>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>









