  <div class="page-header header-filter" style="background-image: url('https://res.cloudinary.com/dyocdwgu9/image/upload/v1543549510/gestuno/bck1.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <div class="form">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Sign Up</h4>
              </div>
              <div class="card-body">
              	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            	<%= f.error_notification %>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <%= f.input :name,
					required: true,
					autofocus: true ,
					input_html: { autocomplete: "name" }%>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <%= f.input :email,
					required: true,
					autofocus: true ,
					input_html: { autocomplete: "email" }%>
                </div>
				<div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock-outline</i>
                    </span>
                  </div>
                  <%= f.input :password,
					required: true,
					hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
					input_html: { autocomplete: "new-password" } %>
                </div>
				<div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock-outline</i>
                    </span>
                  </div>
                  <%= f.input :password_confirmation,
					required: true,
					input_html: { autocomplete: "new-password" } %>
				<%= f.input :interpreter, as: :hidden, input_html: { value: @user_type == 'interpreter' } %>
                </div>
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" value="" checked>
						<span class="form-check-sign">
							<span class="check"></span>
						</span>
						I agree to the <a href="#something">terms and conditions</a>.
					</label>
				</div>
              </div>
              <div class="footer text-center">
              <%# <p class="description text-center"><%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %></p>
              <%= f.button :submit, "Sign up", class: "btn btn-warning btn-round" %>
              <p class="description text-center"><%= render "devise/shared/links" %></p>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>