<div class="profile-page sidebar-collapse">
  <%= render 'shared/page_banner' %>
  <%= render 'shared/profile', user: current_user do %>
    <div id="nav-tabs">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <h3>
          </h3>
          <!-- Tabs with icons on Card -->
          <div class="card card-nav-tabs">
            <div class="card-header card-header-primary">
              <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#profile" data-toggle="tab">
                        <i class="material-icons">face</i> Edit Profile
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#payments" data-toggle="tab">
                        <i class="material-icons">chat</i>
                        <% if current_user.interpreter? %>
                          Payments
                        <% else %>
                          Payment Details
                        <% end %>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body ">
              <div class="tab-content text-center">
                <div class="tab-pane active" id="profile">
                  <%= render 'shared/edit_profile', user: current_user %>
                </div>
                <div class="tab-pane stripe-scoper" id="payments">
                  <% if current_user.interpreter? %>
                    <%= render 'shared/history', user: current_user %>
                  <% else %>
                    <%= render 'charges/new', user: current_user %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <!-- End Tabs with icons on Card -->
        </div>
      </div>
    </div>
  <% end  %>
</div>
