<div class="profile-page sidebar-collapse">
  <%= render 'shared/page_banner', height: '200px' %>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <br>
        <br>
        <% if @users.count == 0 %>
          <h3 class='text-center'>There are no <%= @user_type %>s available online.</h3>
        <% else %>
          <h3 class='text-center'><%= @users.count %> <%= @user_type %>s <%= @user_type == :interpreter ? 'available' : 'online' %> now.</h3>
          <br>
          <%= render 'shared/table' %>
        <% end %>
        <br>
      </div>
    </div>
  </div>
</div>
