<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://res.cloudinary.com/dyocdwgu9/image/upload/v1543549512/gestuno/bkg2.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar gu-avatar-container">

                <%= render 'shared/avatar', user: @interpreter.user, scale: :large, classes: "img-raised img-fluid gu-raised-avatar" %>

    <!-- margin: -110px 0 20px 0; -->

                <%= form_tag(controller: :calls, action: :create, method: :post, recipient: @interpreter) do %>
                  <%= button_tag type: 'submit', class: 'call-button-start', title: 'Start call' do %>
                    <i class="fas fa-phone"></i>
                  <% end %>
                <% end -%>


              </div>


              <div class="name">
                <h3><%= @interpreter.user.name %></h3>
                <h6>Interpreter</h6>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fab fa-dribbble"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fab fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p><%= @interpreter.bio %></p>
          <!-- <p>An artist of considerable range, Chet Faker &#x2014; the name taken by Melbourne-raised, Brooklyn-based Nick Murphy &#x2014; writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p> -->
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                    <p>Languages</p>
                    <p><%= @interpreter.language %></p>
                </li>
                <li class="nav-item">
                  <p>Certifications</p>
                   <p><%= @interpreter.certifications %></p>
                  </a>
                </li>
                <li class="nav-item">
                  <p>Gender</p>
                   <p><%= @interpreter.gender %></p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

      <%# <h3>REVIEWS</h3>
      <p>132 customers have rated your service:</p>
      <div class="ratings">
        <i class="fas fa-star fa-2x checked"></i>
        <i class="fas fa-star fa-2x checked"></i>
        <i class="fas fa-star fa-2x checked"></i>
      </div> %>

