<div class="page-buffer" >
  <div class="show-card">
    <div class="styled-darker">
      <h3><%= @interpreter.name %></h3>
      <br>
      <div class="call-action">

        <%= render 'shared/avatar', user: @interpreter, scale: :large %>

        <div class="btn-centered text-center">
          <%= form_tag(controller: :calls, action: :create, method: :post, recipient: @interpreter) do %>
            <%= button_tag type: 'submit', class: 'call-button-start', title: 'Start call' do %>
              <i class="fas fa-phone"></i>
            <% end %>
          <% end -%>
        </div>
      </div>
      <h3>CERTIFICATION</h3>
      <p><%= @interpreter.profile.certifications %></p>

      <h3>LANGUAGE</h3>
      <p><%= @interpreter.profile.language %></p>
      <h3>BIOGRAPHY</h3>
      <p><%= @interpreter.profile.bio %></p>
      <h3>GENDER</h3>
      <p><%= @interpreter.profile.gender %></p>

      <h3>REVIEWS</h3>
      <p>132 ratings</p>
      <div class="ratings">
        <i class="fas fa-star fa-2x checked"></i>
        <i class="fas fa-star fa-2x checked"></i>
        <i class="fas fa-star fa-2x checked"></i>
      </div>
      <br>
    </div>
  </div>

</div>

