<div class="container">
  <div class="call-card">
    <% if @current_user.customer? %>

      <h3>Thank you for calling!</h3>
      <p>Your interpreter was</p>
      <p><strong><%= @interlocutor.name %></strong></p>

      <%= render 'shared/avatar', user: @interlocutor, scale: :large %>

      <p><strong>Your call details</strong></p>

      <%= render 'charges/show', duration: @duration, price: @price %>

      <%# <p>Please rate your interpreter’s service:</p> %>
       <%# <% simple_form_for [@interpreter, @review] do |f| %>
        <%#= f.input :rating %>
        <%#= f.submit "add a review", class: "btn btn-primary" %>
      <%# end %>
      <!-- TODO: test -->

    <% else %>

      <h3>Call with <%= @interlocutor.name %> finished!</h3>

      <%= render 'charges/show_earnings', duration: @duration, earnings: @earnings %>

    <% end %>

    <%= link_to "Home", :root, class: "btn-blue"  %>

  </div>
</div>
