
<%= render 'devise/shared/centered_form', container_custom_styles: 'margin-top: 100px', page_title: 'Call Ended', bg_img: 'https://res.cloudinary.com/drgdpdviq/image/upload/v1544067229/Gestuno/pexels-photo-1509426.jpg' do %>

  <div class="container">
    <br>
    <div class="call-card">

      <% if @current_user.customer? %>
        <div class="description">
          <h3>Thank you for calling!</h3>
        </div>
        <p>Your interpreter was</p>
        <p><strong><%= @interlocutor.name %></strong></p>

        <%= render 'shared/avatar', user: @interlocutor, scale: :large %>

        <p><strong>Your call details</strong></p>

        <%= render 'charges/show', duration: @duration, price: @price %>

        <%# <p>Please rate your interpreter’s service:</p> %>
         <%# <% simple_form_for [@interpreter, @review] do |f| %>
          <%#= f.input :rating %>
          <%#= f.submit "add a review", class: "btn btn-primary" %>
        <%# end %>
      <% else %>

        <div class="description">
          <h3>Thank you for your service!</h3>
        </div>

        <%= render 'charges/show_earnings', duration: @duration, earnings: @earnings %>

      <% end %>
      <br>
      <br>
      <div class="card-footer justify-content-center">
        <%= link_to "Home", :root, class: "btn btn-primary"  %>
      </div>
    </div>
  </div>
<%end%>
