<div class="container">
  <div class="call-card">
    <h3>Thank you for calling!</h3>
    <p>Your interpreter was</p>
    <p><strong><%= @interlocutor.name %></strong></p>

    <%= render 'shared/avatar', user: @interlocutor, scale: :large %>

    <p><strong>Your call details</strong></p>
    <!-- TODO un-hardcode duration -->
    <p>Call duration: <%= @duration %> minutes</p>
    <!-- TODO un-hardcode duration -->
    <p>You paid: <%= number_to_currency @price %></p>
    <%= link_to "Home", :root, class: "btn-blue"  %>
  </div>
</div>
