
  <%= render 'devise/shared/centered_form', page_title: 'End Call', bg_img: 'https://res.cloudinary.com/drgdpdviq/image/upload/v1544067229/Gestuno/pexels-photo-1509426.jpg' do %>

<div class="container">
  <br>
  <div class="call-card">
    <% if @current_user.customer? %>
    <div class="description">
      <h3>Thank you!</h3>
    </div>
      <h5><strong>Your call lasted:</strong> <%= @duration %> minutes</h5>
      <h5><strong>You paid:</strong> <%= number_to_currency @price %></h5>

     <!--  <p>Please rate your interpreter’s service:</p>  <! -->
       <%# <% simple_form_for [@interpreter, @review] do |f| %>
        <%#= f.input :rating %>
        <%#= f.submit "add a review", class: "btn btn-primary" %>
      <%# end %>
    <% else %>

    <div class="description">
      <h3>Thank you for your service!</h3>
    </div>
      <h5><strong>Your call lasted:</strong> <%= @duration %> minutes</h5>
      <h5><strong>You earned:</strong> <%= number_to_currency @earnings %></h5>
    <% end %>
    <br>
    </div>
    <br>
    <div class="card-footer justify-content-center">
      <%= link_to "Home", :root, class: "btn btn-primary"  %>
    </div>
  </div>
<%end%>
