<div class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="card">
            <div class="card-body">
                <%= simple_form_for user, url: dash_update_path, method: :patch do |form| %>
                <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                          <%= form.input :name %>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                          <%= form.input :gender, collection: ["Male", "Female", "Other"] %>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <%= form.input :language, collection: ["Auslan", "ASL"]%>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <% if current_user.interpreter? %>
                          <%= form.input :certifications, collection: ["NAATI 2", "NAATI 3"] %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <div class="form-group">
                        <%= form.input :bio, placeholder: "A few words on your work experience" %>
                    </div>
                    </div>
                </div>
                <%= form.submit "Update", class: "btn btn-primary btn-link btn-wd btn-lg" %>
                <div class="clearfix"></div>
                <% end %>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>

    <%# <button type="button" class="btn btn-circle btn-xl-orange"><i class="fas fa-plus"></i></button> %>
