<div class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-10">
            <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Edit Profile</h4>
                <p class="card-category">Complete your profile</p>
            </div>
            <div class="card-body">
                <%= simple_form_for user, url: dash_update_path, method: :patch do |form| %>
                <div class="row">
                    <div class="col-md-5">
                    <div class="form-group">
                        <%# <label class="bmd-label-floating">Name</label> %>
                        <%= form.text_field :name %>
                    </div>
                    </div>
                    <div class="col-md-5">
                    <div class="form-group">
                        <%# <label class="bmd-label-floating">Email address</label> %>
                        <%= form.text_field :email, disabled: true, hint: 'You cannot change your username.' %>
                    </div>
                    </div>
                    <div class="col-md-2">
                    <div class="form-group">
                        <%# <label class="bmd-label-floating">Gender</label> %>
                        <%= form.select :gender, collection: ["Male", "Female", "Other"] %>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <%# <label class="bmd-label-floating">Language</label> %>
                        <%= form.select :language, collection: ["Auslan", "ASL"]%>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <%# <label class="bmd-label-floating">Certification</label> %>
                        <%= form.select :certifications, collection: ["NAATI Level 2", "NAATI Level 3"] %>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <div class="form-group">
                        <%# <label class="bmd-label-floating">About me</label> %>
                        <%= form.text_field :bio, placeholder: "A few words on your work experience" %>
                    </div>
                    </div>
                </div>
                <%= form.submit "Update", class: "btn btn-primary btn-link btn-wd btn-lg" %>
                <div class="clearfix"></div>
                <% end %>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>


      <%# <div class="upload-pic">
        <h4>Upload a profile picture</h4>
        <button type="button" class="btn btn-circle btn-xl-orange"><i class="fas fa-plus"></i></button>
      </div> %>