<nav class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "GESTUNO_LOGO_WHITE.jpg", height: 50 %>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <%#= link_to "Profile", profile_path, class: "navbar-wagon-item" %>
      <%#= link_to "Edit Profile", self.send("edit_#{current_user.role}_path", current_user.id) , class: "navbar-wagon-item" %>
      <%= link_to "Profile", self.send("#{current_user.role}_path", current_user.id) , class: "navbar-wagon-item btn-blue" %>
      <%= link_to "Edit Profile", self.send("edit_#{current_user.role}_path", current_user.id) , class: "navbar-wagon-item btn-blue" %>
      <%#= link_to "Profile", edit_user_registration_path(current_user), class: "navbar-wagon-item" %>
      <%#= link_to "Settings", "#", class: "navbar-wagon-item" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-wagon-item btn-plain" %>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "LOGIN"), new_user_session_path, class: "navbar-wagon-item" %>
    <% end %>
  </div>
</nav>
<div class="navbar-padding"></div>