<nav class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "GESTUNO_LOGO_WHITE.jpg", height: 50 %>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <%= link_to "Profile", "#", class: "navbar-wagon-item" %>
      <%= link_to "Settings", "#", class: "navbar-wagon-item" %>
      <%= link_to "Log out", "#", class: "navbar-wagon-item" %>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "LOGIN"), new_user_session_path, class: "navbar-wagon-item btn-orange" %>
    <% end %>
  </div>
</nav>
<div class="navbar-padding"></div>
