<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top" color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div>
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "GESTUNO_LOGO_NOBCK.png", height: 30 %>
      <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->

    <ul class="navbar-nav ml-auto" style="display: flex; flex-direction: row;">
      <% if user_signed_in? %>
        <!-- Links when logged in -->
      <li class="nav-item">
        <a href="#" class="btn btn-rose btn-raised btn-fab btn-round" data-toggle="dropdown">
          <i class="material-icons">email</i>
        </a>
      </li>
      <li class="dropdown nav-item">
        <a href="#" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
          <div class="profile-photo-small">
            <%= render 'shared/avatar', user: current_user, scale: :xs %>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="position: absolute;">
          <%= link_to "My Profile", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
        <!-- Login link (when logged out) -->
        <li><%= link_to t(".sign_in", default: "Log in"), new_user_session_path, class: "btn btn-primary" %></li>
      <% end %>
    </ul>

  </div>
</nav>


  <% if !content_for?(:page_banner?) %>

    <div class='navbar navbar-color-on-scroll fixed-top navbar-transparent' style='position: relative; opacity: 0; z-index: -1000000'>
      <div style='height: 41px;'></div>
    </div>

  <% end %>

