<div class="page-buffer">
  <div class="show-card">
    <div class="styled-darker">
      <%= image_tag "https://res.cloudinary.com/drgdpdviq/image/upload/v1543500513/zq7mhhcznsfkwbqqhebc.jpg", class: "img profile-avatar"%>
    </div>
    <h3>Upload a profile picture</h3>
    <button type="button" class="btn btn-circle btn-xl-orange"><i class="fas fa-plus"></i></button>
    <div class="form">
      <%= simple_form_for @customer, as: :customer, method: :put, url: customer_path do |f| %>
        <%= f.simple_fields_for :profile do |profile| %>
          <%= profile.input :gender, collection: ["Male", "Female", "Other"]%>
          <%= profile.input :bio %>
          <%= profile.input :language, collection: ["Auslan", "ASL"] %>
        <% end %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>