<div class="container">
  <div class="row">
    <div class="profile-header">
      <div class="col-xs-12 col-sm-6">
        <div class="profile-image" style="width: 150px; height: 150px; overflow: hidden"><%= image_tag "//res.cloudinary.com/lionelrowe/image/upload/v1543488174/bill_zumslg.jpg", id: "thumbnail" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Upload a profile picture</h3>
        <button type="button" class="btn-circle"></button>
        <p>offline now</p>
      </div>
    </div>
  </div>
  <div class="form">

    <%= simple_form_for @customer, as: :customer, method: :post, url: customers_path do |f| %>
      <%= f.input :gender, collection: ["Male", "Female", "Other"]%>
      <%= f.input :bio %>
      <%= f.input :language, collection: ["Auslan", "ASL"] %>
      <%= f.button :submit %>
    <% end %>

  </div>
</div>