
<%= render 'shared/avatar', user: current_user, scale: :large %>

<h3>Upload a profile picture</h3>
<button type="button" class="btn btn-circle btn-xl-orange"><i class="fas fa-plus"></i></button>
<div class="form">

  <%= simple_form_for current_user, as: :user, method: :patch, url: customer_path(current_user) do |f| %>
    <%= f.input :email %>
    <%= f.input :gender, collection: ["Male", "Female", "Other"]%>
    <%= f.input :language, collection: ["Auslan", "ASL"] %>
    <%= f.input :bio, placeholder: "A few words on your work experience" %>
    <div class="btn-centered text-center">
      <%= f.button :submit, class: "btn-blue" %>
    </div>
  <% end %>

</div>
