<%= render 'shared/page_banner', bg_img: 'https://res.cloudinary.com/dyocdwgu9/image/upload/v1543985180/gestuno/internal/bkg.jpg', height: '70vh' do %>

  <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="title">About Us</h1>
            <h5>Meet the amazing team behind this project and find out more about how we work.</h5>
        </div>
    </div>
  </div>

<% end %>

<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h5 class="description">Our idea was born from a real need experienced by our teammate, Sophie, whom after working in the deaf sector in Australia for 5+ years, realized there was a common problem faced by deaf communities globally: there are not enough interpreters, and accessing then is very difficult and time consuming. The team is passionate about creating a simple solution that can assist deaf people find an interpreter on short notice and at times of great urgency whilst maximize opportunities for interpreters to offer and monetize their unique skillset.</h5>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <h2 class="title">In 8 weeks to Nerd Rockstars</h2>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h5 class="description">We joined Le Wagon’s coding bootcamp in early October 2018. We were coding debutants, barely understanding how the internet works, but after 8 grulling and tiring weeks we completed our transformation to nerd rockstars. </h5>
        </div>
      </div>
      <div class="team">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <div class="team-player">
              <div class="card card-plain">
                <%= render 'shared/avatar', img: 'https://res.cloudinary.com/dyocdwgu9/image/upload/v1543984542/gestuno/internal/team_sophie.jpg', scale: :large %>
                <h4 class="card-title">Sophie Li
                  <br>
                  <small class="card-description text-muted">The Idea Gal</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">....</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <div class="team-player">
              <div class="card card-plain">
                <%= render 'shared/avatar', img: 'https://res.cloudinary.com/dyocdwgu9/image/upload/v1543984542/gestuno/internal/team_marine.jpg', scale: :large %>
                <h4 class="card-title">Marine Challot
                  <br>
                  <small class="card-description text-muted">The Judge</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">...</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <div class="team-player">
              <div class="card card-plain">
                <%= render 'shared/avatar', img: 'https://res.cloudinary.com/dyocdwgu9/image/upload/v1543984542/gestuno/internal/team_lionel.jpg', scale: :large %>
                <h4 class="card-title">Lionel Rowe
                  <br>
                  <small class="card-description text-muted">The Jedi</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">....</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <div class="team-player">
              <div class="card card-plain">
                <%= render 'shared/avatar', img: 'https://res.cloudinary.com/dyocdwgu9/image/upload/v1543984542/gestuno/internal/team_fili.jpg', scale: :large %>
                <h4 class="card-title">Filiberto Secchi
                  <br>
                  <small class="card-description text-muted">The Money Guy</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">....</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-contacts" style="margin-top: -100px;">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="text-center title">Want to work with us?</h2>
            <h4 class="text-center description">We are always looking for awesome and talented people. Tell us a little about your self and you skills.</h4>
          <form class="contact-form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Your Name</label>
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Your Email</label>
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Speciality</label>
                        <select class="select form-control" placeholder="Speciality">
                            <option value="1">I'm a Designer</option>
                            <option value="2">I'm a Developer</option>
                            <option value="3">I'm a Hero</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                <button class="btn btn-primary btn-round">
                    Let's talk
                    </button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
