<%= render 'devise/shared/centered_form', page_title: 'Log in', bg_img: 'https://res.cloudinary.com/dyocdwgu9/image/upload/v1543549510/gestuno/bck1.jpg' do %>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.error_notification %>

    <%= render 'devise/shared/input_group', icon: 'email' do %>
      <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" }
      %>
    <% end %>

    <%= render 'devise/shared/input_group', icon: 'lock_outline' do %>
      <%= f.input :password,
        required: true,
        input_html: { autocomplete: "current-password" }
      %>
    <% end %>

    <% if devise_mapping.rememberable? %>

      <div class="input-group" style="display: flex; align-items: baseline; justify-content: center;">
        <div style="margin: 0 5px;"><%= f.check_box :remember_me %></div>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="footer text-center">
      <%= f.button :submit, "Log in", class: "btn btn-warning" %>
      <p class="description text-center"><%= render "devise/shared/links" %></p>
    </div>

  <% end %>

<% end %>
